#body {
  font-family: "Roboto", sans-serif;
}

.row {
  background-color: #89cff0;
  height: 100px;
}
#main-content {
  background-color: #e5c0c8;
  height: 550px;
}
#sidebar {
  background-color: #efb7ba;
  height: 550px;
}

.circle {
  display: inline-block;
  background-color: #194f92;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  margin-top: 15px;
  margin-left: 70px;
  color: #fafafb;
  font-size: 40px;
}

.sidebar {
  color: #194f92;
  text-align: center;
  height: 30px;
  margin-top: 30px;
}
#admin {
  margin-top: 60px;
}

.dropdown {
  margin-right: 30px;
  margin-left: auto;
  margin-top: 30px;
}
.dropdown .dropdown-toggle {
  background-color: transparent;
  border: none;
  margin-right: 0px;
  margin-left: auto;
  color: #194f92;
}
.dropdown .dropdown-toggle:hover {
  border: none;
  background-color: #efb7ba;
}
.dropdown .dropdown-toggle:focus {
  background-color: #efb7ba;
  border: none;
}

.main-content {
  background-color: #fafafb25;
  color: #fafafb;
}
#container {
  display: inline-block;
  width: 100%;
}
table {
  background-color: #fafafb25;
  width: 100%;
  margin-top: 10px;
}
th {
  padding: 20px;
}
tr {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .row {
    height: 90px;
  }
  #admin {
    margin-top: 20px;
  }

  #sidebar {
    height: 200px;
  }
  .sidebar {
    height: 20px;
    margin-top: 12px;
  }
  .circle {
    margin-left: 30px;
    margin-top: 10px;
  }
}
.tab {
  overflow: hidden;
}

.tab button {
  background-color: #fafafb25;
  float: left;
  border: solid 1px #fafafb6c;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  color: #194f92;
  margin-top: 10px;
}

.tab button:hover {
  background-color: #fafafbcc;
  border-color: #194f92;
}

.tab button.active {
  background-color: #fafafb69;
  border-color: #194f92;
  outline: none;
}
.tabcontent {
  display: none;
  background-color: #e5c0c8;
}

#form-body {
  height: 300px;
}

#submit {
  border-color: #fafafb86;
  margin-top: 20px;
  margin-left: 220px;
  color: #194f92;
}
